@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
    --background-color:#1e1e1e;
    --white-to-black:white;
    --black-to-white:black;
    --green-to-purple:#9fff76;
    --h1:#8c52ff;
    --card:black;
    --background-home: url('image/concertt.jpg');
}

body.light {
    --background-color:#f4eeee;
    --white-to-black:black;
    --black-to-white:white;
    --green-to-purple:#8c52ff;
    --h1:#9fff76;
    --card:#ef9595;
    --background-home: url('image/concert.jpg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
    min-height: 100vh;
    transition: background 0.2s linear;
}

/* navbar */
.navbar {
    padding: 10px 30px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    color: var(--green-to-purple);
}

.navbar img {
    width: 90px;
    margin: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar ul li {
    margin: 0 20px;
    font-size: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--green-to-purple);
}

.navbar ul li a:hover, .footer a:hover {
    text-decoration: underline;
}

/* dark&light */
.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    width: 50px;
    border: 1px solid var(--white-to-black);
    scale: 1.5;
}

.ball {
    background-color: var(--white-to-black);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

/* main content */
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), var(--background-home);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.main h1 {
    font-size: 90px;
    color:var(--h1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    max-width: 2000px;
    text-align: center;
}

.main p {
    margin: 20px;
    line-height: 1.5;
    max-width: 1200px;
}

.button {
    max-width: 300px;
    padding: 15px 20px;
    border-radius: 25px;
    border: 2px solid var(--green-to-purple);
    background: transparent;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background: var(--green-to-purple);
    color: var(--black-to-white);
}


/* line up */
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    gap: 6rem 5rem;
    min-height: 100vh;
}

.lineup {
    color: var(--green-to-purple);
    text-align: center;
    position: relative;
    font-size: 30px;
    width: 100%;
}

.card {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 350px;
    height: 300px;
    background: var(--white-to-black);
    border-radius: 20px;
    transition: 0.5s ease;
    max-width: 90%;
    box-shadow: 2px 2px 5px var(--green-to-purple) 
}

.card:hover {
    height: 300px;
}

.img {
    position: relative;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #444;
    border-radius: 12px;
    transition: 0.5s ease;
    overflow: hidden;
}

.card:hover .img {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2);
}

.img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 250px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    height: 25px;
    overflow: hidden;
    transition: 0.5s ease;
}

.card:hover .content {
    height: 50%;
    top: 150px;
}

.content h3{
    font-size: 18px;
    color: var(--black-to-white);
    text-transform: lowercase;
}

.content p {
    margin: 20px;
    font-size: 14px;
    color: var(--black-to-white);
    text-transform: lowercase;
} 


/* date */
.countdown {
    color: var(--green-to-purple);
    font-size: 50px;
    text-align: center;
    position: relative;
    width: 100%;
}

.date {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 2px 2px 10px var(--green-to-purple);
    border-radius: 5px;
    padding: 5vw;
    color: var(--white-to-black);
    justify-content: space-between;
    background-color: var(--white-to-black);
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-to-white);
    padding: 20px;
    flex-direction: column;
    flex: 1;
}

.box span {
    font-size: 30px;
}

.box p {
    font-size: 20px;
}

/* pop up box */
.ticket {
    text-align: center;
    width: 100%;
    color: var(--white-to-black);
}

#alert{
    margin: 20px;
    width: 200px;
    padding: 15px 20px;
    border-radius: 25px;
    border: 2px solid var(--white-to-black);
    background: transparent;
    text-decoration: none;
    font-size: 20px;
    color: var(--white-to-black);
    transition: background-color 0.3s ease; 
    box-shadow: 2px 2px 10px var(--green-to-purple) 
}

#alert:hover {
    background: var(--white-to-black);
    color: var(--black-to-white);
}


/* about me */
.profile {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    background-color: var(--green-to-purple);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    color: var(--black-to-white);
    box-shadow: 2px 2px 10px var(--white-to-black) 
}


.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px;
    border: 3px solid var(--black-to-white);
}

.profile h1 {
    font-size: 25px;
    margin: 0 0 10px;
    text-align: center;
}

.profile h4 {
    font-size: 25px;
    margin: 20px;
    text-align: center;
}

.profile h2 {
    font-size: 18px;
    margin: 20px 0 10px 0;
}

.profile p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--black-to-white);
}

.profile ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.profile ul li {
    font-size: 16px;
}

/* footer */
.container2 {
    max-width: 1000px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    padding: 0;
}

.footer {
    background: var(--black-to-white);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.col {
    width: 100%;
    max-width: 50%;
    padding: 0 15px;
}

.col h3 {
    font-size: 20px;
    color: var(--white-to-black);
    margin-bottom: 20px;
}

.col ul li {
    font-size: 16px;
    color: var(--white-to-black);
    text-decoration: none;
    margin-bottom: 10px; 
}

.col ul li a {
    font-size: 16px;
    color: var(--white-to-black);
    text-decoration: none;
    display: block;
}

